.border {
  height: 95vh;
  width: 2px;
}

.CoinInfo {
  display: inline-flex;
}

.coinInfoLeft {
  width: 50%;
}

.coinGraph {
  width: 75%;
}

.garphbutton {
  border: 1px solid gold;
  cursor: pointer;
  font-weight: 600;
}
.garphbutton:hover {
  background-color: gold !important;
  color: black !important;
}

@media only screen and (max-width: 900px) {
  .CoinInfo {
    display: block;
  }
  .coinInfoLeft {
    width: 100%;
  }
  .coinGraph {
    width: 100%;
  }
}
